#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.cell[data-active=true] {
  border: 2px solid black;
}

.puyo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  display: flex;
}


@keyframes Drop {
  from {
    transform: translateY(cacl(-125%));
  }
}